[{{ item.name }}]
user = www-data
group = www-data

listen = /run/php/{{ item.name }}.sock
listen.owner = www-data
listen.group = www-data

pm = dynamic
pm.max_children = {{ fpm.max_children }}
pm.start_servers = {{ fpm.start_servers }}
pm.min_spare_servers = {{ fpm.min_spare_servers }}
pm.max_spare_servers = {{ fpm.max_spare_servers }}

env[APP_PROJECT_NAME] = {{ item.name }}
env[APP_PROJECT_GROUP] = {{ item.group }}
env[APP_ENV] = {{ app_env }}
