server {
        listen 80;

        root /var/www/html/{{ item.name }}/;

        index index.php;

        server_name {{ item.name }}.example.com;

        location ~* \.php$ {
                fastcgi_index   index.php;
                fastcgi_pass    unix:/run/php/{{ item.name }}.sock;
                include         fastcgi_params;
                fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
                fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
        }

        location / {
                try_files $uri $uri/ =404;
        }

}
